<!DOCTYPE html>
<html>
<head>
  <title>Quotas</title>
  <%= stylesheet_link_tag    "quotas/application", media: "all" %>
  <%= javascript_include_tag "quotas/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
